.news button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
  }
  
  .news button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  }