.leadership-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .leadership-board {
    margin: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }